{% extends 'base.html' %} {% load static %} {% block content %}

<div class="row mt-3">

    <div class="col-sm-12 col-lg-4 ps-5">
        <div class="border rounded p-3" style="background: rgb(245, 249, 0);">
            <b>Trident Bandra Kurla</b>
            <p class="text-primary">C-56, G Block, Bandra Kurla Complex, Bandra, 400051 Mumbai, India</p>
            <small class="text-success">Excellent Location — 9.2</small>
            <p class="mt-3"><b class="text-bg-primary p-2" style="border-radius:5px 5px 5px 0px;">8.3</b> Excellent ·
                3,585 reviews</p>
            <p>

                <span class="border border-success px-2 rounded-pill"> <i
                        class="fa-solid icon fa-wifi text-primary"></i> Free WiFi</span>
                <span class="border border-success px-2 rounded-pill"><i
                        class="fa-solid icon fa-dumbbell text-primary"></i> Gym</span>
                <span class="border border-success px-2 rounded-pill"><i
                        class="fa-solid icon fa-square-parking text-primary"></i> Free Parking</span>
                <!-- <span class="border border-success px-2 rounded-pill"><i class="fa-solid icon  fa-person-military-pointing text-primary"></i> Room service</span> -->
                <span class="border border-success px-2 rounded-pill"><i
                        class="fa-solid icon fa-mug-hot text-primary"></i> Breakfast</span>

                <span class="border border-success px-2 rounded-pill"><i
                        class="fa-solid icon fa-plate-wheat text-primary"></i> 24-hour front desk</span>
            </p>
        </div>
        <div class="border rounded mt-2 p-3">
            <b>Your booking details</b>
            <div style="display: flex;margin-block: 14px;">
                <div class="me-5">Check-in <br>
                    <b>inDate</b><br>
                    <small>From 2:00 PM</small>
                </div>
                <div class="mx-auto">Check-out <br>
                    <b>outDate</b> <br>
                    <small>Until 12:00 PM</small>
                </div>
            </div>
            Total length of stay: <br>
            <b>1 night</b>
        </div>
        <div class="border rounded mt-3 p-3">
            <b style="font-size: 20px;">Your price summary</b>
            <p>Price: <b class="text-success"> <i class="fa-solid fa-indian-rupee-sign"></i> 6,848</b></p>
            <b>Total amount to pay: &nbsp;<b class="text-success fs-5"> <i class="fa-solid fa-indian-rupee-sign"></i>
                    16,848</b></b><br>
            <small class="text-success" style="margin-left: 165px;">Includes taxes and fees</small>
        </div>
    </div>

    <div class="col-sm-12 col-lg-8 border rounded py-3">
        <!-- <h4 class="text-primary">How do you want to pay?</h2> -->
        <h4 class="text-primary">Complete Booking</h2>
            <!-- <b>Payment by Card:</b> -->
    <form action=""method="post" enctype="multipart/form-data"
    autocomplete="off" class="row g-0 rounded">
    {% csrf_token %}

    <div class="row">
        <p class="col-lg-6 mt-2">Cardholder Name * <input type="text" name="cardHolderName" class="form-control" required></p>
        <p class="col-lg-6 mt-2">Card Type *
            <select class="form-control" name="cardType" required>
            <option>--select your card type--</option>
            <option>Rupay</option>
            <option>Visa</option>
            <option>Mastercard</option>  
            <option>Other</option>  
        </select>
        </p> 
        <p class="col-lg-6 mt-2">Card No. * <input type="number" name="cardNumber" class="form-control" required></p>
        <!-- <p class="col-lg-6 mt-2">Expiration date * <input type="text" name="expirationDate" placeholder="yyyy-mm-dd" class="form-control" required></p> -->
        <p class="col-lg-3 my-2">CVV code * <input type="number" name="cvvNum" class="form-control" required></p>
        <!-- <p class="col-lg-3 my-2">OTP* <input type="number" name="OTP" placeholder="Enter OTP" class="form-control" required></p> -->
        
        <!-- <div class="col-lg-12 mx-auto mt-3"><button class=" btn  text-bg-primary rounded">Send OTP</button></div>
        

        <b class="fs-5 my-3">More Payment Options</b>
        <b>UPI Payment</b>
        <p>Razorpay</p> -->

        <p class="col-lg-12 mt-2"><input type="checkbox">I consent to receiving marketing emails from Motel.com,
            including promotions, rewards, travel experiences, and information about Motel.com’s products and services.
        </p>
        <p class="col-lg-12"><input type="checkbox">I consent to receiving marketing emails from Motel.com, including
            promotions, rewards, travel experiences, and information about Motel.com Transport Limited’s products and
            services.</p>
        <small class="my-3">You can unsubscribe at any time. View our <a href="#"> privacy policy.</a></small>
        <p>Your booking is directly with Prague - Karlin Apartments and by completing this booking you agree to the <a
                href="#"><u>booking conditions, general terms, privacy policy, damage policy,</u></a>and <a
                href="#"><u>Wallet terms.</u></a></p>
        <div class="col-lg-12 text-end"><a href="/user/index/"><button class="btn text-bg-primary me-5"><b>Confirm
        booking</b></button></a></div>
    </div>

   
    </form>
</div>

</div>

{% endblock %}